@{
    ViewBag.Title = "Home Page";
}
<script src="~/Content/JavaScript.js"></script>
<body onload="Greeting()">
    <h1 id="greeting" onclick="myFunction()">  Wardrobe Database First MVC Application </h1>
    <img src="~/Content/ImgFolder/source.gif" width="1200" height="475" />
 </body>

